<launch>
    <!-- 在参数服务器载入urdf文件$(find urdf01_rviz)/urdf/urdf/demo01_helloworld.urdf -->
    <param name="robot_description" textfile="/home/kd/demo05_ws/src/urdf01_rviz/urdf/demo01_helloworld.urdf" />
    <!-- 启动 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz"/>
</launch>
